.BlackFrame-container{
  background-color: #1F1E17;
  height: 184px;
  margin: 0 5px;
  margin-top: 105px;
  color: #A5A49A;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BlackFrame-text{
  display: flex;
  gap: 150px
}