.NewsArticles-container{
  margin-top: 105px;
}

.NewsArticles-Cards-people{
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 55px;
}

.NewsArticles-Cards-img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}