.Footer-container{
  color: #A5A49A;
  margin-top: 115px;
  font-size: 15px;
}

.Footer-up{
  padding: 120px 320px 120px 370px;
  background-color: #24231D;
  display: flex;
}



.section-one{
  width: 280px;
  p{
    padding-top: 17px;
    line-height: 28px;
  }
  div{
    padding-top: 20px;
    display: flex;
    gap: 10px;
  }
}

.section-two{
  padding-top: 5px;
  padding-left: 16px;
  p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 3px;
  }
}

.section-two__links{
  display: flex;
  flex-direction: column;
  gap: 14px;
  img{
    padding-right: 13px;
  }
}

.section-three{
  width: 310px;
  margin-top: 5px;
  margin-left: 29px;
  p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 3px;
  }
}

.section-three__news{
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-left: 100px;
  p{
    font-size: 16px;
    padding-bottom: 10px;
    color: white;
  }
  span{

    font-size: 15px;
    color: #EEC044;
  }
}

.section-four{
  margin-top: 5px;
  margin-left: 85px;
  p{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 3px;
  }
}

.section-four__contact{
  width: 230px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  img{
    padding-right: 10px;
  }
}

.section-four__contact__spec{
  display: flex;
  img{
    height: 16px;
  }
  p{
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
  }
}

.section-four__input{
  margin-top: 20px;

  input{
    padding: 18px 110px 14px 18px;
    border-radius: 10px;
    font-size: 12px;
    border: none;
  }
  img{
    background-color: #4BAF47;
    padding: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 1484px;
  }
}

.Footer-down{
  padding: 24px 374px 24px 360px;
  display: flex;
  background-color: #1F1E17;
  justify-content: space-between;
}

.Footer-down__copyrigth{
  padding-left: 10px;
}

.Footer-down__policy{
  font-size: 14px;
  line-height: 20px;
  span:first-of-type{
    padding-right: 18px;
    border-right: 2px solid #A5A49A;
  }
  span:last-of-type{
    padding-left: 18px;
  }
}